<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /paste
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /paste/index.html [L]
</IfModule>